body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

#heading {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgb(80, 80, 80);
}

#container {
    position: relative;
    width: 600px;
    margin: 0;
    min-height: 100vh;
    margin-top: 20px;
    background-image: linear-gradient(rgb(255, 206, 206), rgb(179, 193, 255));
    display: flex;
    border-radius: 20px;
    flex-direction: column;
}

#heading {
    position: sticky;
    top: 0;
    justify-content: center;
    display: flex;
    z-index: 10;
    align-items: center;
    margin-top: 0;
    box-shadow: 0 2px 3px rgb(99, 99, 99);
    height: 70px;
    background-color: #708bd8;
}

#input_field {
    height: max-content;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input_value {
    background-color: rgba(97, 179, 246, 0.368);
    width: 50%;
    word-wrap: break-word;
    padding: 14px;
    border: 0;
    color: white;
    text-shadow: 0 0 2px black;
    border-radius: 20px;
    outline: 0;
    font-size: 20px;
    box-shadow: 0 2px 5px rgb(57, 57, 57);
}

#input_value::placeholder {
    color: rgb(255, 255, 255);
}

#btn {
    max-width: max-content;
    padding: 13px;
    margin-left: 20px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-weight: 700;
    background-color: rgb(0, 213, 0);
    box-shadow: 0 2px 5px rgb(97, 97, 97);
}

#btn:hover {
    transition: 0.2s;
}

#btn span {
    color: transparent;
    text-shadow: 0 0 0 white;
}
#ul{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    padding: 0;
}
li {
    font-size: 20px;
    color: rgb(17, 20, 20);
    text-align: start;
    list-style: none;
    margin-top: 5px;
    padding: 20px;
    margin-left: 0 !important;
    border-radius: 20px;
    background-color: rgba(24, 16, 255, 0.163);
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;

}
input[type="checkbox"] {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    
}
input[type="checkbox"]:checked {
    background-color: rgb(0, 34, 255);
}
.maindiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remove-task{
    border-radius: 100%;
    height: 25px;
    width: 25px;
    padding: 20px;
}
.remove-task{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 72, 72);
    cursor: pointer;
}
.para{
    padding-left: 8px;
    max-width: 350px;
}
.para:focus{
    outline: none;
}
.complete{
    word-wrap: break-word;
    text-decoration-color: rgb(89, 89, 89);
    color: rgb(152,152,152);
   
}
.fa-list-check{
    padding-right: 15px;
}
/* .para[contenteditable=""]{
    text-decoration: line-through;
    word-wrap: break-word;
    text-decoration-color: rgb(89, 89, 89);
    color: rgb(116, 116, 116);
   
} */
@media screen and (max-width:600px) {
    #container {
        width: 100%;
        border-radius: 0px;
        margin-top: 0;
    }

    #input_value {
        width: 70%;
    }
   
}

